<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="css/course.css"></link>
    <link rel="stylesheet" href="css/setting-overlay.css"></link>
    <script src="/js/view/course.js" defer></script>
    </head>
  <body>
    <!-- modals -->
    <%- include('includes/modals.ejs') %>
    <!-- loading spinner -->
    <%- include('includes/loading-spinner.ejs') %>

    <header>
      <form>
        <input type="hidden" name="_csrf" id="_csrf" value="<%=locals.csrfToken%>">
        <div id="name-field">
          <label for="name">과목 이름</label>
          <input type="text"name="name" id="name" value='' required/> <!--%= inputData.name %-->
        </div>
        <div id="code-field">
          <label for="code">과목코드-분반</label>
          <input type="text" placeholder="ECE0000-1" name="code" id="code" value='' required /> <!--%= inputData.code %-->
        </div>
        <div class="dd-field">
          <label for="grade">대상 학년</label>
          <select id="grade" name="grade" required>
            <option value="-1">선택</option>
            <option value="1">1학년</option>
            <option value="2">2학년</option>
            <option value="3">3학년</option>
            <option value="4">4학년</option>
          </select>
        </div>
        <div class="dd-field">
          <label for="type">구분</label>
          <select id="type" name="type" required>
            <option value="-1">선택</option>
            <option value="0">자과</option>
            <option value="1">타과</option>
          </select>
        </div>
        <button type="button" id="add-course-btn">과목 추가</button>
      </form>
    </header>
    <div id="spacer">.</div>
    <main>
      <p id="applied-course-status">신청 과목 수 : <span>1</span> / <span>4</span></p>
      <section id="course-section"></section>
    </main>

    <footer>
      <img id="setting-btn" src="img/setting.svg">
    </footer>

    <!-- setting overlay -->
    <%- include('includes/setting-overlay.ejs') %>
    <script src="js/view/setting-overlay.js"></script>

    
  </body>
</html>
